################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CrontabSharp/v17
/Crontab/.vs/Crontab
/.vs/Crontab-Sharp/v17/.wsuo
/.vs/Crontab-Sharp/v17/DocumentLayout.json
